git+https://github.com/Pupy101/utilities.git@master
hydra-colorlog==1.2.0
hydra-core==1.3.2
hydra-optuna-sweeper==1.2.0
lightning>=2.0.0
pre-commit
pytest
rich
rootutils
sh
tensorboard
torch<2.1.0,>=2.0.0
torchmetrics>=0.11.4
torchvision>=0.15.0
wandb
